@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  @apply text-title bg-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.secondary-title {
  @apply text-3xl font-bold text-title;
}

.secondary-title::before {
  content: "";
  @apply block w-12 h-2 bg-theme rounded-full mb-1;
}

.section-paragraph {
  @apply text-secondary my-6 w-full max-w-3xl;
}

.badge {
  @apply px-4 py-2 text-sm rounded bg-badge;
}